/* CSS declarations go here */

@font-face {
    font-family: 'outlined-iconset';
    src:url('/fonts/outlined-iconset.eot');
    src:url('/fonts/outlined-iconset.eot?#iefix') format('embedded-opentype'),
      url('/fonts/outlined-iconset.woff') format('woff'),
      url('/fonts/outlined-iconset.ttf') format('truetype'),
      url('/fonts/outlined-iconset.svg#outlined-iconset') format('svg');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
	background-color: #DDD;
}
body {
	margin: 0;
}
html, button, input, textarea, select {
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	line-height: 22px;
	color: #313140;
}

.menu {
	background-color: #FFF;
	margin: 0;
	width: 100%;
	min-height: 45px;
	border-bottom: 1px solid #BEBEBE;
}
.menu__title {
	margin:0px auto;
	text-align:center;
}
.menu__title h1 {
	margin: 0;
	padding: 10px 5px;
}
.submit {
	margin-top: 20px;
	width: 100%;
}
.submit__form {
	margin:20px auto;
	text-align:center;
	width: 85%;
}
.submit__form__row {

}

#confirm {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
#confirm > div {
	width: 70%;
	position: relative;
	margin: 8em auto;
	padding: 25px 20px 30px 20px;
	border-radius: 10px;
	background-color: #DDD;
}
.confirm__box{
	color: #444;
	font-size: 1.3em;
	text-align: center;
}

.action{
	background-color: #FFF;
	margin-bottom: 20px;
	width: 100%;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
}
.action__block {
	margin: 1.5em auto;
	text-align:center;
}
.action--amount {
	font-size: 3em
}
.summary{
/*	margin-top: 20px;*/
	width: 100%;
}
.summary__block {
	margin: 1.5em auto;
	text-align:center;
	width: 95%;
}
.summary__table {
	margin: 1.5em auto;
	text-align:center;
/*	width: 95%;*/
}
.summary__table tr td:first-child{
	text-align: right;
	font-size: 1.2em;
/*	color: #313140!important;*/
}
.summary__table tr td:last-child{
	text-align: left;
	font-size: 1.2em;
	font-weight: 700;
}
.summary__table tr {
	margin: 5px 10px;
}
.summary__table th {
	padding: 10px 25px;
}
.summary__table td {
	padding: 4px 25px;
}
.summary__bar {
	display: inline-block;
	height: 3em;
}
.depenses{
	width: 100%;
/*	background-color: #FFF;
	margin-top: 20px;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;*/
}
.depenses__block {
	margin: 1.5em auto;
	text-align:center;
}
.depenses__table {
	margin: 1.5em auto;
	text-align:center;
	width: 95%;
}
.class__rent {
	background-color: #7f8c8d;
}
.class__bills {
	background-color: #2ecc71;
}
.class__food {
	background-color: #3498db;
}
.class__shopping {
	background-color: #9b59b6;
}
.class__supermarket {
	background-color: #00CCC1;
}
.class__activity {
	background-color: #e67e22;
}
.class__car {
	background-color: #34495e;
}

.table__rent {
	color: #7f8c8d;
}
.table__bills {
	color: #2ecc71;
}
.table__food {
	color: #3498db;
}
.table__shopping {
	color: #9b59b6;
}
.table__supermarket {
	color: #00CCC1;
}
.table__activity {
	color: #e67e22;
}
.table__car {
	color: #34495e;
}
button.remove {
	background-color: rgba(231, 76, 60, 0);
	background-image: none;
	border: 2px solid #e74c3c;
	color: #e74c3c;
	text-transform:lowercase;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 700;
}
button.remove:hover {
	border: 2px solid #c0392b;
	color: #c0392b;
	background-color: rgba(231, 76, 60, 0.2);
}
button.remove:active {
	background-color: rgba(231, 76, 60, 0.5);
}

a, .pseudo-link {
	color: #6064AD;
	cursor: pointer;
	text-decoration: none;
}
a.btn:hover, .pseudo-link:hover {
	color: #4A4E90;
	text-decoration: underline;
}
a.btn:active {
	box-shadow: #6064ad 0 0 0 3em inset;
	color: #ffffff;
}
a.btn {
	font-size: 20px;
	text-transform:lowercase;
	line-height: 20px;
	line-height: 1.5em !important;
	padding: .375em .75em;
	font-weight: 600;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	white-space: nowrap;
	box-shadow: #6064AD 0 0 0 2px inset;
	color: #6064AD;
	-webkit-transition: -webkit-box-shadow 100ms ease-in-out, color 300ms ease-in;
	-moz-transition: -moz-box-shadow 100ms ease-in-out, color 300ms ease-in;
	-o-transition: box-shadow 100ms ease-in-out, color 300ms ease-in;
	transition: box-shadow 100ms ease-in-out, color 300ms ease-in;
}
a#submit {
	margin-top: 5px;
	padding: .375em 39%;
}
a#updatedebt {
	/*padding: 1em 6em;*/
	width: 85%;
}
a#updatedebt {
	box-shadow: #6064ad 0 0 0 5em inset;
	color: #ffffff;
}
a#updatedebt:active {
	box-shadow: #6064AD 0 0 0 1px inset;
	color: #6064AD;
}
input, select {
	border: none;
}
#amount, #category, #payeur, #timestamp {
	text-align:center; 
	height: 2em;
	margin: 0.1em 0;
	padding: 0;
	background-image: none;
	vertical-align: bottom;
	color: black;
	background-color: white;
	border: 1px solid #95a5a6;
}

.input__amount, .input__date {
	width: 18%;
}
.select__category, .select__payeur {
	width: 27%;
	height: 2.1em!important;
}

.money {
	font-family: 'Source Code Pro';
}

h2 {
	font-weight: 300;
	margin: 0;
	font-size: 2em;
	padding-bottom: 0.7em;
}

/* Navigation */
.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
/*    margin: 1em 0 2em;*/
}
 
/* Nav */
.tabs nav {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 
.tabs nav ul {
	padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
}
 
.tabs nav ul li {
	border: 2px solid #6064ad;
	color: #6064ad;
	background-color: #FFF;
    border-bottom: none;
    margin: 0 0.25em;
    display: table-cell;
}
.tabs nav ul li:nth-child(2), .tabs nav ul li:nth-child(3) {
 border-top: 2px solid #6064ad;
 border-left: 0;
 border-right: 0;
}
.tabs nav ul li:nth-child(2) {
 border-right: 2px solid #6064ad;
}
.tabs nav li.tab-current {
    color: #FFF;
	background-color: #6064ad;
}
.tabs nav li.tab-current a{
    color: #FFF;
}
.tabs nav a {
    display: block;
    font-size: 1.7em;
    line-height: 2.5;
    white-space: nowrap;
}
.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'outlined-iconset';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}


.content section {
    display: none;
    
}
.current {
	display: block!important;
}
 
.content section:before,
.content section:after {
    content: '';
    display: table;
}
 
.content section:after {
    clear: both;
}
td:before {
margin-right: 10px;
vertical-align: bottom;

 }

#section__add {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -10em;
  margin-left: -50%;
}
#section__current, #section__stats {
  	margin-bottom: 80px;
}
@media screen and (max-width: 52.375em) {
	.tabs nav a span {
	display: none;
	}
	.tabs nav a:before {
	 margin: 0;
	 }
}
@media screen and (max-width: 600px) {
	.not-small {
	display: none;
	}

}
 /*
.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: #47a3da;
}
 
.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}
 
.tabs nav a {
    color: #becbd2;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
}
 
.tabs nav a:hover {
    color: #768e9d;
}
 
.tabs nav li.tab-current a {
    color: #47a3da;
}
 

.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}
 
.icon-food:before {
    content: "\e600";
}
 
.icon-lab:before {
    content: "\e601";
}
 
.icon-cup:before {
    content: "\e602";
}
 
.icon-truck:before {
    content: "\e603";
}
 
.icon-shop:before {
    content: "\e604";
}*/